.view-main {
  display: none;
}

body.loading .loader,
body.details #details-view,
body.form #form-view,
body.list #list-view {
  display: block;
}

@media (min-width: @screen-sm-min) {
  #list-view {
    margin: 100px 0;
  }
}

@media (max-width: @screen-xs-max) {
  .nav.pull-left {
    margin: 5px 0;
  }
}

.loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
}
