{% extends "base.html" %}

{% block layout %}
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="#/" style="white-space:nowrap">The Blog</a>
            <ul class="nav navbar-nav pull-left">
                <li><a href="#/">All Posts</a></li>
            </ul>
            <a href="#/new" class="btn btn-primary navbar-btn pull-right">New Post</a>
        </div>
    </nav>

    <div class="container">
        <div id="notifications"></div>
        {% block content %}
        {% endblock %}
    </div>

    <div class="loader">
        <div class="spinner">
            <div class="spinner-container container1">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container2">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container3">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
        </div>
    </div>
{% endblock %}
