{% extends "blog/base.html" %}

{% block title %}The blog to end all blogs{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div id="list-view" class="view-main text-center">
                <div class="page-header">
                    <h1 class="hidden-xs">
                        Welcome to the blog to end all blogs!
                    </h1>
                    <h3 class="visible-xs">
                        Welcome to the blog!
                    </h3>
                </div>
                <p>
                    Select a post from
                    <span class="hidden-md hidden-lg">below</span>
                    <span class="hidden-xs hidden-sm">the right</span>
                    <br class="visible-xs">
                    or <a href="#/new">Create a new one!</a>
                </p>
            </div>
            <article id="details-view" class="view-main"></article>
            <div id="form-view" class="view-main"></div>
        </div>
        <div class="col-md-4">
            <div class="page-header">
                <h3>Blog Posts</h3>
            </div>
            <div id="posts-list" class="list-group"></div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <script type="text/tmpl" id="form-template">
        <form id="post-form" method="post">
            <div class="page-header">
                <h1>{action} Post</h1>
                {% csrf_token %}
                <input type="hidden" name="post_id" id="post_id" value="{id}">
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" type="text"
                    name="title" id="title" value="{title}">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input class="form-control" type="text"
                    name="description" id="description" value="{description}">
            </div>
            <div class="form-group">
                <label for="content">Content (supports Markdown)</label>
                <textarea class="form-control" rows="15" cols="50"
                    name="content" id="content">{content}</textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">
                    Submit
                </button>
            </div>
        </form>
    </script>

    <script type="text/tmpl" id="list-template">
        <a class="list-group-item" href="#/post/{id}">
            <h4 class="list-group-item-heading">
                {title}<br>
                <small>
                    Posted
                    <time class="timeago" datetime="{created}">
                         {created_fm}
                    </time>
                </small>
            </h4>
            <p class="list-group-item-text">{description}</p>
        </a>
    </script>

    <script type="text/tmpl" id="details-template">
        <header class="page-header">
            <h1>{title}</h1>
            <div class="pull-right">
                <a href="#/edit/{id}" class="btn btn-xs btn-default">
                    &#x270E; Edit Post
                </a>
                <button class="btn btn-xs btn-default delete-post" data-id="{id}">
                    &times; Delete Post
                </button>
            </div>
            <p>
                Posted
                <time class="timeago" datetime="{created}">
                    {created_fm}
                </time>
            </p>
        </header>
        <div>{content_md}</div>
    </script>

    <script type="text/tmpl" id="error-template">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            {message}
        </div>
    </script>
{% endblock %}
