<!DOCTYPE html>
<html lang="en">
    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        {% block layout %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
